.divContainer {
    margin: 2rem;
    padding: 1rem;
    border: 2px solid;
}

.divTitle {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}
.twoColumnDiv {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.threeColumnDiv {
    display: inline-block;
    width: 32%;
    height: auto;
}

.fourColumnDiv {
    display: inline-block;
    width: 24%;
    height: auto;
    text-align: center;
}

.captureIndicator {
    background-color: red;
    width: 0%; 
    height: 20px
}

.targetCaptureIndicator {
    background-color: #8F0;
    width: 0%; 
    height: 20px
}
.targetBubbleIndicator {
    background-color: #0F8;
    width: 0%; 
    height: 20px
}

.bubbleIndicator {
    background-color: blue;
    width: 0%; 
    height: 20px
}

.animation {
    width: 100%;
    transition: width var(--indicator-timeout);
    /* transition-duration: var(--indicator-timeout);
    transition-property: width; */
}